@import url("https://fonts.googleapis.com/css?family=Bungee+Shade|Work+Sans:400,700");

.my-events {
  font-family: 'Work Sans', sans-serif;
  text-align: center;
}

.sorting-buttons {
  display: inline-block;
}

.form-button {
  margin: 20px 0 20px 0;
}

.event-form {
  text-align: left;
}

.submit-button {
  margin-bottom: 20px;
}

h1 {
  font-family: 'Bungee Shade', cursive;
  font-size: 4em;
}

.event-item {
  text-align: left;
}

.event-item .panel-heading {
  text-align: center;
}

.event-item h3 {
  font-weight: 700;
}

span.field {
  font-weight: 700;
}

@media (min-width: 1200px) {
    .container{
        max-width: 700px;
    }
}
